{% extends 'base.html.twig' %}

{% block title %}2aufKante{% endblock %}

{% block body %}
    <div class="form-group">
        <div class="p-5">
            <video width="100%" autoplay>
                <source src="{{ asset('build/videos/2aufKANTE_logo.mp4') }}" type="video/mp4">
            </video>
        </div>
    </div>
{% endblock %}
