<form method="post" action="{{ path('messages_delete', {'id': message.id}) }}" onsubmit="return confirm('Möchtest Du wirklich den Eintrag löschen?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ message.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
