{% extends 'base.html.twig' %}

{% block title %}New Messages{% endblock %}

{% block body %}
    <div class="form-group">
        <div class="p-5">
            <h1>Create new Messages</h1>

            {{ include('messages/_form.html.twig') }}

            <a href="{{ path('messages_index') }}">back to list</a>
        </div>
    </div>
{% endblock %}
